html {
    height: 100%
}

body {
    margin: 0;
    background-color: #f7f7f7;
    background-color: black;

    display: grid;
    grid-template-areas:
        "header"
        "aside main"
        "footer";

    grid-template-rows: 64px lrf 88px;
    grid-template-columns: 200px lgr;
}

.cabecalho {
    grid-area: header;

    height: 64px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
}

.footer {
    height: 88px;
}
